<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/layui/css/layui.css">
    <title>Document</title>
</head>
<body>
    {{ include './common/head.html' }}
  
    <!-- 引入左边侧边栏 -->
    {{ include './common/side.html' }}
    
    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
          <form class="layui-form" action="">
              <div class="layui-form-item">
                <label class="layui-form-label">分类名称：</label>
                <div class="layui-input-inline">
                  <input type="text" name="name" lay-verify="required" placeholder="分类名称" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                  <label class="layui-form-label">排序：</label>
                  <div class="layui-input-inline">
                    <input type="number" name="sort"  required  lay-verify="number"  autocomplete="off" class="layui-input">
                  </div>
              </div>
              <div class="layui-form-item">
                  <label class="layui-form-label">添加时间：</label>
                  <div class="layui-input-inline">
                    <input type="text"  id="add_date"  name="add_date" required  lay-verify="required"  autocomplete="off" class="layui-input">
                  </div>
              </div>
                          
             
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="formDemo">添加</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
              </div>
          </form>
      </div>
    </div>
    
      <!-- 引入左边侧边栏 -->
      {{ include './common/footer.html' }}
</body>
<script src="/public/layui/layui.js"></script>
<script src="/public/js/jquery.js"></script>
<script>
  layui.use(['element','form','layer','laydate'], function(){
  var element = layui.element;
  var layer = layui.layer;
  var form = layui.form;
  var laydate = layui.laydate

  form.on('submit(formDemo)',function(data){
           let oldText = data.elem.innerText;
           $(data.elem).addClass('layui-btn-disabled').text('添加中..')
           $.ajax({
             type:'post',
             url:'/postCate',
             data:data.filed
           }).then(res=>{
             $(data.elem).removeClass('layui-btn-disabled').text(oldText)
             let {errcode,message} = res;
             if(errcode == 0){
              layer.msg(message)
              location.href="/catindex";
             }else{
               layer.msg(message)
             }
           })
           return false
          })
//  初始化时间
  laydate.render({
    elem: '#add_date',
    type: "datetime"
  });

  })
</script>
</html>